



.m{
	text-align: center;background-color: black ; color: white ; font-family:Old English Text MT ;}
.d{;background-color: black ; color: white ; font-family:Old English Text MT;}




p{	
	color:red;
	 font-family: andalus;
	 

}


.l{}